.help-page {
  background: linear-gradient(
    -45deg,
    #3498db8e,   /* midnight blue */
    #3498db,   /* peter river */
    #3498db9d    /* midnight blue */
  );
  background-size: 300% 300%;
  animation: grayWave 15s ease infinite;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.help-page h1 {
    text-align: center;
     
    margin-bottom: 2rem;
    color: white;
}