@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

.keyword-filter-container {
  background-color: rgba(255, 255, 255, 0.4); /* Slightly transparent white background */
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 300px; /* Example width */
  margin-left: 50px;
  margin-top: 30px;
  position: sticky; /* Make it sticky */
  top: 120px; /* Position below the banner */
}

.keyword-filter-title {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff; /* Vivid purple from banner */
  font-size: 1.7rem;
  margin-bottom: 20px;
  text-align: center;
}

.keyword-checkboxes {
  display: flex;
  flex-direction: column;
}

.keyword-checkbox-item {
  margin-bottom: 10px;
}

.keyword-checkbox-item label {
  margin-left: 8px;
  font-size: 1.1rem;
  color: #ffffff;
}

.no-data-message {
  color: white;
  text-align: center;
  margin-top: 20px;
}